<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{layout.title}}</title>

        {% for css in layout.css %}
            <link rel="stylesheet" href="{{css}}" />
        {% endfor %}
    </head>
    <body>
        <div class="container-fluid">
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %}

            <div class="row">
                <main class="col-md-9 col-md-push-3">
                    {% block main %}{% endblock %}
                </main>

                <nav class="col-md-3 col-md-pull-9">
                    {% block sidebar %}
                        {% include 'sidebar.html' %}
                    {% endblock %}
                </nav>
            </div>
        </div>

        {% for js in layout.js %}
            <script async src="{{js}}"></script>
        {% endfor %}
    </body>
</html>
