<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigration</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Woland</a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse">
        <ul class="nav navbar-nav">
            {% for favorite in favorites %}
                {% if path.favoriteName == favorite %}
                    <li class="active">
                        <a href="/{{favorite}}/">{{favorite}}
                            <span class="sr-only">current</span>
                        </a>
                    </li>
                {% else %}
                    <li><a href="/{{favorite}}/">{{favorite}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>

<ol class="breadcrumb">
    <li><a href="/{{ path.favoriteName }}/">{{ path.favoriteName }}</a></li>
    {% for crumb in breadcrumbs %}
        {% if path.info.getRealPath() == crumb.getRealPath() %}
            <li class="active">{{ fileToLink(crumb, path) }}</li>
        {% else %}
            <li>{{ fileToLink(crumb, path) }}</li>
        {% endif %}
    {% endfor %}
</ol>
